<?xml version="1.0"?>
<config>
    <modules>
        <PlinioCardoso_Fortunus>
            <version>1.0.0</version>
        </PlinioCardoso_Fortunus>
    </modules>
    <global>
        <models>
            <pliniocardoso_fortunus>
                <class>PlinioCardoso_Fortunus_Model</class>
            </pliniocardoso_fortunus>
        </models>
        <blocks>
            <pliniocardoso_fortunus>
                <class>PlinioCardoso_Fortunus_Block</class>
            </pliniocardoso_fortunus>
        </blocks>
        <helpers>
            <pliniocardoso_fortunus>
                <class>PlinioCardoso_Fortunus_Helper</class>
            </pliniocardoso_fortunus>
        </helpers>
    </global>
    <frontend>
        <routers>
            <pliniocardoso_fortunus>
                <use>standard</use>
                <args>
                    <module>PlinioCardoso_Fortunus</module>
                    <frontName>fortunus</frontName>
                </args>
            </pliniocardoso_fortunus>
        </routers>
        <layout>
            <updates>
                <pliniocardoso_fortunus>
                    <file>pliniocardoso_fortunus.xml</file>
                </pliniocardoso_fortunus>
            </updates>
        </layout>
        <!--<translate>
            <modules>
                <pliniocardoso_fortunus>
                    <files>
                        <default>PlinioCardoso_Fortunus.csv</default>
                    </files>
                </pliniocardoso_fortunus>
            </modules>
        </translate>-->
    </frontend>
    <admin>
        <routers>
            <pliniocardoso_fortunus>
                <use>admin</use>
                <args>
                    <module>PlinioCardoso_Fortunus</module>
                    <frontName>fortunus</frontName>
                </args>
            </pliniocardoso_fortunus>
        </routers>
    </admin>
    <default>
        <payment>
            <fortunus_boleto>
                <active>0</active>
                <model>pliniocardoso_fortunus/payment_boleto</model>
                <title>Boleto Bancário</title>
                <order_status>pending</order_status>
                <payment_action>order</payment_action>
                <allowspecific>0</allowspecific>
            </fortunus_boleto>
        </payment>
    </default>
</config>